
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gemunu+Libre&family=Open+Sans&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;


}
.message1{
    color: white;
}
body{
    background-color: rgb(14, 15, 15);
   
}
.container{
    margin-top: 5rem;
}
.inputcontainer{
    display: flex;
    justify-content: center;
}
.input,.btn{
padding: 2vh 2.5vw;
border: 1px solid rgb(244, 244, 247);
font-size: 1.1rem;
text-align: center;
}
.btn{
    border-radius: 0 10px 10px 0;
     cursor: pointer;
     color:rgb(17, 17, 17) ;
     font-weight: bolder;
     background-color: rgb(178, 177, 176);
}

 .btn:hover{
    background-color:rgb(108, 252, 31);
    color: rgb(26, 25, 25);
    /* font-size: 1.1rem; */
 }

 .moviecontainer{
   margin-top: 4rem;
   margin-inline: 2rem;
 }
.movies{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

 }
 .contentdiv{
   display: flex;
   flex-direction: column;
    align-items: center;
   gap: 10px;
   /* justify-content: center; */
   border: 1px solid rgb(253, 250, 250);
   background-color: rgba(13, 13, 14, 0.02);
   box-shadow: 2px 2px 10px  rgb(148, 148, 148);
   border-radius: 10px;
   height: 60vh;
   width: 20vw;
  overflow: hidden;   
 
}
.contentdiv:hover{
   
   cursor: pointer;
   transition: ease-in-out 0.3s ;
   transform:scale(1.04)
}

 .imagediv{ 
  height: 70%; 
  width: 100%;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  
 }
 .imagediv img{
   width: 100%;
   height: 100%;
   size: cover;
   
  
  
 }
 .trailer{
   border: 1px solid rgb(253, 248, 248);
   /* padding: 2px 2px; */
   border-radius: 10px;
   background-color: rgb(253, 248, 248 ,0.9) ;
   margin-bottom: 2rem;
   font-size: 1.1rem;
   font-weight: 600;
   width: 30%;
   text-align: center;
}
.trailer:hover{
   background-color: rgb(253, 248, 248 ,0.2);
   color: white;
   transition: ease-in-out 0.3s;

}

 



 .title{
    padding-top: 0.5rem;
    font-size: 1.6rem;
    font-weight: 900;
    color:rgb(244, 7, 7); 
    font-family: 'Bebas Neue', cursive;
    text-align: center;
  
 }

 .anchor{
text-decoration: none;
color: rgb(239, 6, 6);
}
.anchor:hover{
   color: white;
   transition: ease-in-out 0.3s;
}


 @media (max-width:567px){

    .moviecontainer{
        margin-top: 2rem;
        margin-inline: 0rem;
      }
 
    .movies{
      justify-content: center;
      align-items: center;
        flex-wrap:nowrap;
        gap: 2rem;
        flex-direction: column;
     }
     .contentdiv{
       
        width: 70vw;
        height: 50vh;
        text-align: center;
        overflow: hidden;
     }
     .image{
        height: 40vh; 
        width: 68vw;
        border-radius: 0;
        overflow: hidden;
       }

       .input,.btn{
        padding: 2vh 1.5vw;
        border: 1px solid rgb(244, 244, 247);
        font-size: 5vw;
        text-align: center;
        }
        .title{
         font-size: 7vw;
        }
        .trailer{
         padding: 1vw 6vw;
         border-radius: 5px;
         margin-bottom: 1.4rem;
         font-size: 3vw;
         font-weight: 600;
      }
 }